.big-container{
    background-image: url('../img/salon-02.jpg');
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: auto;
    width: 100%; 
    position: relative;
}
.big-row{
    height: 100%;
}
.right-col{
    font-size: 1.5vw;
    margin-top: 15vw;
    margin-right:10%;
    margin-bottom: auto;
    color: white;
    float:right;
    text-align: right;
    z-index:100;
}

.logo1{
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    max-height: 12%;
    max-width: 100%;
    object-fit: contain;
    z-index: 100;
}

.logo2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    max-width:12%;
    max-height: 12%;
    height:100%;
    width:100%;
    object-fit: contain;
}
.header-p{
    height:3vw;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: 1.5vw;
    margin-bottom: auto;
    z-index:100;
    object-fit: contain;
}
.light-p{
    font-weight: 100;
    font-style: oblique;
    font-family: cursive;
}