.background{
    transform: skewY(-2deg);
    background-color: white;
}
.break{
    font-size: 1.25vw;
}
.rest{
    transform: skewY(2deg);
    margin-left:5%;
    margin-top:5%;
}
.title-1{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2.25vw;
    text-align: start;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.logo{
    width:auto;
    height:auto;
    display: block;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
}
.sub-title{
    font-size:1.5vw;
    text-align: left;
    font-family: 'Poiret One', cursive;
    font-weight: 100;
}
.title-p{
    font-size:1vw;
    text-align: left;
    padding: 0px;
}
br{
    font-size:0.25rem
}