.background-works{
    background-color: white;
    margin-top: 7%;
    position: relative;
}
.title-works{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2.25vw;
    text-align: start;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
img{
    padding: 1.5vw;
}
.gal3, .gal1, .gal4, .gal6, .gal2, .gal5{
    max-height: auto;
    max-width: 100%;
    height:100%;
    width:100%;
    object-fit: contain;
    margin: auto;
}
.gal2{
    margin-left:5%;
}
.gal5{
    margin-top:-7%;
}
